.grid-system-popover {
    .components-popover__content {
        min-width: 250px;
        padding: 16px;
    }
}

.components-button.grid-system-reset-button {
    margin-top: 10px !important;
}

.grid-system-range {
    .components-input-control__container {
        width: calc(45px);
    }
}

.grid-system-col-control {
    margin-bottom: calc(8px);

    .components-base-control__field {
        margin-bottom: 0;
    }
}

.grid-system-auto-button {
    height: 32px;
}